@font-face
{
    font-family: Righteous;
    src: url('../../../public/fonts/Righteous-Regular.ttf');
}

@font-face
{
    font-family: Roboto;
    src: url('../../../public/fonts/Roboto-Regular.ttf');
}

@font-face
{
    font-family: Saira;
    src: url('../../../public/fonts/Saira-Regular.ttf');
}

@font-face
{
    font-family: Salsa;
    src: url('../../../public/fonts/Salsa-Regular.ttf');
}

$Righteous: Righteous;
$Roboto: Roboto;
$Saira: Saira;
$Salsa: Salsa;
