{% extends 'infos_produits/infos_produits' %}

{% block h1 %}Infos Boissons{% endblock h1 %}


{% block color %}background-white{% endblock color %}
{% block burger_drink %}
    {% for boisson in boissons %}
        <div class="boisson-overview">
            <img class="boisson-img" src="/public/image/get/boissons/{{ boisson.image }}/svg" alt="Drink's image">
            <div class="boisson-name">{{ boisson.nom }}</div>
        </div>
    {% endfor %}
{% endblock burger_drink %}
