$black: #000000;
$white: #FFFFFF;
$red: #FF0000;
$blue: #94B8EE;

$green_light: #AECFAE;
$green: #528D51;
$green_dark: #122D12;
$green_shadow: #467845;

$orange_background: #fccc77;
$orange_light: #FFCB42;
$orange: #FEB800;
$orange_dark: #E8AE3D;

//====================================================================================================
//====================================================================================================

.black
{
  color: $black;
}
.background-black
{
  background-color: $black;
}

.white
{
  color: $white;
}
.background-white
{
  background-color: $white;
}

.red
{
  color: $red;
}
.background-red
{
  background-color: $red;
}

.blue
{
  color: $blue;
}
.background-blue
{
  background-color: $blue;
}


.green_light
{
  color: $green_light;
}
.background-green_light
{
  background-color: $green_light;
}

.green
{
  color: $green;
}
.background-green
{
  background-color: $green;
}

.green_dark
{
  color: $green_dark;
}
.background-green_dark
{
  background-color: $green_dark;
}

.green_shadow
{
  color: $green_shadow;
}


.orange_background
{
  background-color: $orange_background;
}
.orange_light
{
  color: $orange_light;
}
.background-orange_light
{
  background-color: $orange_light;
}

.orange
{
  color: $orange;
}
.background-orange
{
  background-color: $orange;
}

.orange_dark
{
  color: $orange_dark;
}
.background-orange_dark
{
  background-color: $orange_dark;
}
