$black: #000000;
$white: #FFFFFF;
$red: #FF0000;
$blue: #94B8EE;

$green_light: #AECFAE;
$green: #528D51;
$green_dark: #122D12;
$green_shadow: #467845;

$orange_background: #fccc77;
$orange_light: #FFCB42;
$orange: #FEB800;
$orange_dark: #E8AE3D;
