@use "fonts";
@use "colors";

.flex
{
  display: flex;
}

.tab-menu
{
  position: flex;
  align-self: center;

  a
  {
    color: #000000;
  }

}

.tab-burger, .tab-drink
{
  width: 20vw;
  height: 8vh;
  font-size: 5vh;
  text-align: center;
  line-height: 8vh;
  margin-right: 40px;
  margin: 30px 1px;
  border-radius: 15px;
  font-family: fonts.$Salsa;
  cursor: pointer;
}

.grid-bur_drk
{
  width: 75vw;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: auto;
}

.burger-overview, .boisson-overview
{
  display: block;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.burger-img, .boisson-img
{
  width: 16vw;
  height: 22vh;
  max-width: 16vw;
  max-height: 22vh;
}
.burger-name, .boisson-name
{
  max-width: 16vw;
  font-size: 4vh;
  overflow: hidden;
  text-align: center;
  font-family: fonts.$Salsa;
}

//====================================================================================================
// Details Burgers et Boissons
//====================================================================================================

.grid-burger
{
  display: grid;
  grid-template-rows: 0.13fr 0.18fr 0.11fr 0.29fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-drink
{
  display: grid;
  grid-template-rows: 0.13fr 0.18fr 0.11fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.container-center
{
  width: 88vw;
  max-height: 78vh;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  overflow: auto;

  .el
  {
    color: colors.$white;
    background-color: colors.$green_dark;
    font-family: fonts.$Salsa;
    font-size: 6vh;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .bur_drk-prix
  {
    margin-right: 15px;
  }
}

.bur_drk-img
{
  display: block;
  max-width: 25vw;
  max-height: 33vh;
  margin: auto;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: span 3;
  grid-column-start: 1;
}

.bur_drk-name
{
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: span 2;
}

.bur_drk-desc
{
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: span 2;
}

.bur_drk-prix
{
  grid-row-start: 3;
  grid-column-start: 2;
}

.bur_drk-cal
{
  grid-row-start: 3;
  grid-column-start: 3;
}

.bur-recette
{
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: span 3;
}

.btn-medium
{
  width: 40vw;
  font-family: fonts.$Salsa;
  font-size: 4vh;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 7px colors.$green_shadow;
}

.bottom-right
{
  position: absolute;
  top: 87vh;
  left: 57vw;
}
