@use "fonts";
@use "colors";

.flex
{
  display: flex;
}

.tab-menu
{
  position: flex;
  align-self: center;
}

.menu-bur_drk a
{
  color: #000000;
}

.tab-burger, .tab-drink
{
  width: 20vw;
  height: 8vh;
  font-size: 5vh;
  text-align: center;
  line-height: 8vh;
  margin-right: 40px;
  margin: 30px 1px;
  border-radius: 15px;
  font-family: fonts.$Salsa;
  cursor: pointer;
}

.grid-bur_drk
{
  width: 75vw;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: auto;
}

.burger-overview, .boisson-overview
{
  display: block;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.burger-img, .boisson-img
{
  width: 16vw;
  height: 22vh;
  max-width: 16vw;
  max-height: 22vh;
}
.burger-name, .boisson-name
{
  max-width: 16vw;
  font-size: 4vh;
  overflow: hidden;
  text-align: center;
  font-family: fonts.$Salsa;
}
