<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Burger_Party</title>
	<link rel="stylesheet" href="public/css/get/main">
</head>
<body>
	<div id="burger_party">
		<img id="burger_party-logo" src="public/image/get/logo/svg" alt="image_logo">
		<p id="burger_party-txt">BURGER PARTY</p>
	</div>

	<div id="menu_client">
		<div id="nouvelle_commande" class="btn-control big orange">Nouvelle Commande</div>
		<div id="informations_produits" class="btn-control normal orange_light">Informations Produits</div>
		<div id="qui_sommes_nous" class="btn-control normal orange_light">Qui Sommes-Nous ?</div>
	</div>
</body>
</html>
